<div id="container">
  <h2>Flip a coin:</h2>
  <p id="hidden_maximum_winning_price" hidden> <%= Constants::MAXIMUM_WINNING_PRICE %> </p>
  <%= form_for([@user, @user.coinflips.build]) do |f| %>
    <p>
    Total : <label id="total_balance">$<%= @user.balance %> </label> <br>    
    </p>
    <p>
    <%= f.radio_button :winning_flip, true %> 
    <%= label :winning_flip_true, 'Head' %>
    <%= f.radio_button :winning_flip, false %>
    <%= label :winning_flip_false, 'Tail' %>
    </p>
    <p>
    <%= f.label :bet, :id => "bet_label" %><br>$<%= f.text_field :bet, :id => "bet_text_field" %>
    </p>
    <p>
    Counter : <label id="counter"> <%= @user.coinflips.count %> </label> <br>
    </p>
    <p>
      Coin Result : <label id="display"> <%= @user.last_coin_flip_result %> </label> <br>
    </p>
    <p>
      <% if @user.coinflips.count > 0 %>
        <%= f.submit "Flip", :id => "coinflip_submit_delay", :disabled => true %>
      <% else %>
        <%= f.submit "Flip", :id => "coinflip_submit" %>
      <% end %>
    </p>
  <% end %>
</div>
