
<h2>Flip a coin:</h2>
<%= form_for([@user, @user.coinflips.build]) do |f| %>
  <p>
  Total :  <label id="total"> <%= @user.balance %> </label> <br>    
  </p>
  <p>
    <%= f.label :bet %><br>  <%= f.text_field :bet %>
  </p>
  <p>
  Counter : <label id="counter"> <%= @user.coinflips.count %> </label> <br>
  </p>
  <p>
    Coin Result : <label id="display"> </label> <br>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
