<%= link_to "Download as Excel", data_path(format: "xlsx") %>
<table>  
  <% @users.each do |user| %>
    <tr>
      <th> "ID" </th>
      <th> "Name" </th>
      <th> "Email" </th>
      <th> "Age" </th>
      <th> "Profession" </th>
      <th> "Date"</th>
      <th> "Highest Level of Education" </th>
      <th> "What did you think we were testing for?" </th>
      <th> "Did you think the coin had 60% chance of coming up heads" </th>
      <th> "Do you think you were lucky?" </th>
      <th> "Did you think you bet sensibly" </th>
      <th> "What would you have done differently" </th>
      <th> "Would you have been willing to put money out of your own pocket to play and risk that money on flips" </th>
      <th> "Did you give any thought to what the maximum would be?" </th>
      <th> "If yes, how much did you think the maximum would be?" </th>
      <th> "Do you think this game is imilar to investing in the stock market?" </th>
      <th> "In what ways do you think it was dissimilar or similar?" </th>
      <th> "Have you heard of Kelly Criterion?" </th>
    </tr>
    <br>
    <tr>
      <td> <%= user.id %> </td>
      <td> <%= user.name %> </td>
      <td> <%= user.email %> </td>
      <td> <%= user.age %> </td>
      <td> <%= user.profession %> </td>
      <td> <%= user.created_at %> </td>
      <td> <%= user.education %> </td>
      <% if user.survey then%>
        <td> <%= user.survey.test_for_response %> </td>
        <td> <%= user.survey.was_fair_response %> </td>
        <td> <%= user.survey.was_luck_response %> </td>
        <td> <%= user.survey.was_sensible_response %> </td>
        <td> <%= user.survey.done_diff_response %> </td>
        <td> <%= user.survey.own_money_response %> </td>
        <td> <%= user.survey.how_much_response %> </td>
        <td> <%= user.survey.thought_response %> </td>
        <td> <%= user.survey.exp_min_response %> </td>
        <td> <%= user.survey.stock_response %> </td>
        <td> <%= user.survey.stock_how_response %> </td>
        <td> <%= user.survey.was_fam_response %> </td>
        <td> <%= user.survey.general_comments_response %> </td>
      <% end %>
    </tr>
    <th>Bets</th>
    <% user.coinflips.each do |coinflip| %>
      <tr>
        <% def heads_tails(flip)
          if flip then
            return "Heads"
          else
            return "Tails"
          end
        end %>

        <td>
          For User <%= coinflip.user_id %>
        </td>
        <td>
          <%= heads_tails(coinflip.coin_result) %>
        </td>
        <td>
          <%= coinflip.bet %>
        </td>
        <td>
          <%= heads_tails(coinflip.winning_flip) %> wins
        </td>
        <td>
          <%= coinflip.balance %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<style type="text/css">
  table, th, td {
    border: 1px solid black;
  }
</style>