<div id="welcome-container">
  
  <img id="mountains" src="http://www.elmfunds.com/img/bg4.jpg" />
  <div id="welcome-text-container">
  <% if @user.balance <= 0 then %>
    <h1 id="title"><span id="lost">Oops, you are bankrupt.</span> Thanks for playing!</h1><br>
  <% else %>
    <h1 id="title">You finished the game with <%= number_to_currency(@user.balance, :precision => 2) %>. Thanks for playing!</h1><br>
  <% end %> 
    
<%= form_for :survey, url: user_surveys_path do |f| %>

  <div>
    <%= f.label "What do you think we were testing for?", class:"q-labels",:autocomplete => :off, :required => true   %>
    <%= f.text_area(:test_for_response)%>
  </div>
  
  <p>
    <p class="q-labels">Do you think the coin did actually have a 60% chance of coming up heads?</p>
    <%= f.radio_button :was_fair_response, true, :class => "q-radio" %> 
    <%= label :was_fair_response_true, 'Yes', :class => "q-radio"  %>
    <%= f.radio_button :was_fair_response, false, :class => "q-radio"  %>
    <%= label :was_fair_response_false, 'No', :class => "q-radio" %>
  </p>
    
  <p>
    <p class="q-labels">Did you think you were lucky?</p>
    <%= f.radio_button :was_luck_response, true, :class => "q-radio"  %> 
    <%= label :was_luck_response_true, 'Yes', :class => "q-radio"  %>
    <%= f.radio_button :was_luck_response, false, :class => "q-radio"  %>
    <%= label :was_luck_response_false, 'No', :class => "q-radio"  %>
  </p>
    
  <p>
    <p class="q-labels">Did you think that you bet sensibly?</p>
    <%= f.radio_button :was_sensible_response, true, :class => "q-radio"  %> 
    <%= label :was_sensible_response_true, 'Yes', :class => "q-radio"  %>
    <%= f.radio_button :was_sensible_response, false, :class => "q-radio"  %>
    <%= label :was_sensible_response_false, 'No', :class => "q-radio"  %>
  </p>
  
  <div>
    <%= f.label "What would you have done differently?", class:"q-labels",:autocomplete => :off, :required => true   %>
    <%= f.text_area(:done_diff_response)%>
  </div>
      
  <p>
    <p class="q-labels">Would you have been willing to put up money out of your own pocket to play and risk that money on flips?</p>
    <%= f.radio_button :own_money_response, true, :class => "q-radio"  %> 
    <%= label :own_money_response_true, 'Yes', :class => "q-radio"  %>
    <%= f.radio_button :own_money_response, false, :class => "q-radio"  %>
    <%= label :own_money_response_false, 'No', :class => "q-radio"  %>
  </p>
  
  <div>
    <%= f.label "If yes, how much money would you have been willing to bet?", class:"q-labels",:autocomplete => :off %>
    <%= f.text_area(:how_much_response)%>
  </div>
      
  <p>
    <p class="q-labels">Did you give any thought to what the maximum we would pay you would be?</p>
    <%= f.radio_button :thought_response, true, :class => "q-radio"  %> 
    <%= label :thought_response_true, 'Yes', :class => "q-radio"  %>
    <%= f.radio_button :thought_response, false, :class => "q-radio"  %>
    <%= label :thought_response_false, 'No', :class => "q-radio"  %>
  </p>

  
  <div>
    <%= f.label "If yes, and assuming you just had one more session to play, how much money would you put into your balance to fund your playing session?", class:"q-labels",:autocomplete => :off %>
    <%= f.text_area(:exp_min_response)%>
  </div>
   
      
  <p>
    <p class="q-labels">Do you think this game is similar to investing in the stock market?</p>
    <%= f.radio_button :stock_response, 'yes', :class => "q-radio"  %> 
    <%= label :stock_response_yes, 'Yes', :class => "q-radio"  %>
    <%= f.radio_button :stock_response, 'little', :class => "q-radio"  %>
    <%= label :stock_response_little, 'A little bit', :class => "q-radio"  %>
    <%= f.radio_button :stock_response, 'no', :class => "q-radio"  %>
    <%= label :stock_response_no, 'No', :class => "q-radio"  %>
  </p>

  <div>
    <%= f.label "In what ways do you think it was similar / dissimilar", class:"q-labels",:autocomplete => :off %>
    <%= f.text_area(:stock_how_response)%>
  </div>
     
  <p>
    <p class="q-labels">Have you heard of Kelly Criterion?</p>
    <%= f.radio_button :fam_with_response, true, :class => "q-radio"  %> 
    <%= label :fam_with_response_true, 'Yes', :class => "q-radio"  %>
    <%= f.radio_button :fam_with_response, false, :class => "q-radio"  %>
    <%= label :fam_with_response_false, 'No', :class => "q-radio"  %>
  </p>

  <div>
    <%= f.label "Are there any other comments you would like to share with us?", class:"q-labels",:autocomplete => :off %>
    <%= f.text_area(:general_comments)%>
  </div>
    
   <p id="button">

        <%= f.submit "Submit", :id => "coinflip_submit" %>
  </p>
<% end %>
  </div>
</div>


